<div class="popup-title">
	<h3>Sign In</h3>
</div>
<div class="sign-in">
	<form #signIn="ngForm" (ngSubmit)="dialogRef.close(signIn.value)" (keyup.enter)="dialogRef.close(signIn.value)" novalidate>
		<md-input type="text" placeholder="Username" name="username" ngModel required #username="ngModel"></md-input>
		<md-input type="password" placeholder="Password" name="password" ngModel required #password="ngModel"></md-input>
		<button type="button" md-button md-dialog-close>CLOSE</button>
		<button type="submit" md-button [disabled]="!username.valid || !password.valid">SIGN IN</button>
	</form>
</div>
