<md-toolbar color="primary">
	<nav>
		<span [routerLink]="['/']" class="brand">
			<md-icon>face</md-icon>
			ng-abq
		</span>
		<span class="pull-right">
			<button class="menu-btn" md-button (click)="toggleMenu()"><md-icon>menu</md-icon></button>
			<span class="menu" [ngClass]="{'show': menu}" [ngStyle]="{'top': offset + 'px'}">
				<button (click)="toggleMenu()" [routerLink]="['/events']" md-button><md-icon>event</md-icon> Events</button>
				<button (click)="toggleMenu()" [routerLink]="['/posts']" md-button><md-icon>description</md-icon> Posts</button>
				<button (click)="toggleMenu();openSignIn()" md-button><md-icon>person</md-icon> Sign In</button>
			</span>
		</span>
	</nav>
</md-toolbar>
