<div class="news-bar">
	<md-card>
		<h3>NEWS 1</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi aliquam dolores nihil, natus debitis saepe obcaecati, quas similique ipsum, dolorem ducimus! Molestias quae, itaque, tempore tenetur soluta ex impedit delectus!</p>
	</md-card>
	<md-card>
		<h3>NEWS 2</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi aliquam dolores nihil, natus debitis saepe obcaecati, quas similique ipsum, dolorem ducimus! Molestias quae, itaque, tempore tenetur soluta ex impedit delectus!</p>
	</md-card>
</div>
